<h2>Edit <%= @task.title %> Task</h2>
  <%= form_for @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>

<%# <%= render "form", task: @task %>
<%= link_to "Back to all Tasks", tasks_path %>
